html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
}
 .wrapper {
 	width: 96%
 	max-width: 1170px;
 	margin: 0 auto;
 }
body {
	color: #7e7e7e;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;

} 
header .top_bar{
	background:  #141518;
	color: #FFF;
	
}
header .top_bar .wrapper{
	height: 58px; 
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
 .social_profiles{
 	font-size: 14px;
 }
 	.social_profiles a {
 	margin-right: 20px;
 }
 .search form input.search_form {
 	border: 0;
 	background: transparent;
 	font-size: 13px;
 	color: #989797;
 	font-style: italic;
 	font-family: 'Open Sans', sans-serif;
 	width: 130px;

 }
  .search form input.search_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #989797;
 	font-style: italic;
}
 .search form input.search_form ::-moz-placeholder { /* Firefox 19+ */
 color: #989797;
 	font-style: italic;
}
 .search form input.search_form :-ms-input-placeholder { /* IE 10+ */
  color: #989797;
 	font-style: italic;
}
 .search form input.search_form :-moz-placeholder { /* Firefox 18- */
  color: #989797;
 	font-style: italic;
}

.button {
	background: transparent;
	color: #FFF;
	border: 0;
}
.logo{
	height: 211px;
	text-align: center;
	display: flex;			/**Кидает в центр всю хуйню*/
	align-items: center;
	justify-content: center;
}
.logo h1{
	display: none;
}

nav {
	height: 63px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;  
}

nav ul.menu {
	text-align: center;
	font-size: 0;

}

nav ul.menu li {
	display: inline-block;
	font-size: 13px;
	margin-left: 22px;
	margin-right: 22px;


}
nav ul.menu li a{
	color: #141417;
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
	text-decoration: none;
	padding-right: 22px;
	padding-left: 22px;
	display: block;
	min-height: 63px;
	line-height: 63px;
}

section.slider .homepage_slider {
	display: flex;
	justify-content: space-between;

}

section.slider .homepage_slider .item-slide {
	width: calc(33.3333% - 13px);
	position: relative;
}
section.slider .homepage_slider .item-slide .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(49,49,49,0.7);
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
}
section.slider .homepage_slider .item-slide .mask .category {
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.01em;
	margin-bottom: 24px;
}
section.slider .homepage_slider .item-slide .mask .category::before{
	content: "-";
	margin-right: 15px;

	}
section.slider .homepage_slider .item-slide .mask .category::after{
	content: "-";
	margin-left: 15px;
}
section.slider .homepage_slider .item-slide .mask h2.title{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
	line-height: 30px;
	}
section.slider .homepage_slider .item-slide img {
	max-width: 100%;
	height: auto;
}
main.wrapper {
	margin-top: 85px;
	display: flex;
	justify-content: space-between;
}
section.content{
	width: 67.52%;
}
aside{
	width: 27.35%;
}
main .wrapper section.content article{
	display: flex;
	margin-bottom: 40px;


}
main .wrapper section.content article img{
	margin-right: 30px;
}
main .wrapper section.content article .post_data{
	padding-top: 20px;
}
main .wrapper section.content article .post_data .category{
	color: #b08672;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.01em;
	margin-bottom: 20px;
	line-height: 12px;
	display: block;
}

main .wrapper section.content article .post_data h2{
	font-size: 26px;
	font-family: 'Lato', sans-serif;
	color: #262626;
	line-height: 26px;
	margin-bottom: 30px;
}
main .wrapper section.content article .post_data p{
	margin-bottom: 30px;
}

.trending {

}
.trending .trending_list  {
	display: flex;
	justify-content: space-between;
}
.trending .trending_list article {
	width: calc(33.3333% - 10px);
	position: relative;
}
.trending .trending_list article .mask {
	display: none;
}
.trending .trending_list article.active .mask {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(20,21,24,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #FFF;
	
}
.trending .trending_list article .mask .category {
	text-transform: uppercase;
	font-size: 12px;
	color: #a5a5a5;
	font-family: 'Cabin', sans-serif;


}
.trending .trending_list article .mask h4{
	font-size: 18px;
	font-family: "Lato", sans-serif;
	letter-spacing: 0.01em;

}
.trending .trending_list article .mask .category::before{
	content: "-";
	margin-right: 15px;

	}
.trending .trending_list article .mask .category::after{
	content: "-";
	margin-left: 15px;
}
.trending .trending_list article img {
	max-width: 100%;
	height: auto;
}








