     #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

    #message p {
    padding: 10px 35px;
    font-size: 18px;
}

    input {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;}

    button[type=submit] {
    background-color: #4CAF50;
    color: white;}

    .valid {
    color: green;}

    .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";}